@import url('https://fonts.googleapis.com/css?family=Sofia');

body {
  background-image: url("../images/bg.gif");
  background-size: cover;
}

.logo {
  width:200px;
  height:200px;
}

.error {color: white;}

header {
     padding: 10px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }

nav {
   display: flex;
  }
nav a {
    color: skyblue;
    text-decoration: none;
    padding: 10px;
    margin-right: 200px;
  text-align: center;
  font-size: 25px;
  font-style: bold;
  }

nav a:hover {
      background-color: #555;
    }

#div1 {
  color: white;
  font-size: 19px;
  float: left;
  margin-left: 350px;
  margin-top: 15px;
  background-color: black;
}

#div2 {
  color: white;
  font-size: 19px;
  float: right;
  margin-right: 350px;
  margin-top: 15px;
  background-color: black;
}

#h3 {
  color: white;
  font-size: 45px;
  font-family: "Sofia", sans-serif;
  text-align: center;
}

#p1 {
  text-align: center;
  font-size: 19px;
}

#p2 {
  text-align: center;
  color: white;
}

#error {
  color: white;
}