@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire');

body {
  background-image: url("../images/bg.gif");
  background-size: cover;
}

.logo {
  width:150px;
  height:150px;
}

header {
     padding: 18px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }


nav {
   display: flex;
  }
nav a {
    color: skyblue;
    text-decoration: none;
    padding: 10px;
    margin-right: 200px;
   text-align: center;
   font-size: 25px;
   font-style: bold;
  }

nav a:hover {
      background-color: #555;
    }

#h1 {
    border-style:inset;
    border-color: black;
  color: white;
  border-width: 10px;
  text-align: center;
  font-style: oblique;
  font-family: "Sofia", sans-serif; 
  }
#h2 {
   text-align: center;
   color: white;
   font-style: italic;
   font-size: 25px;
   }
   
#demo {
  text-align: center;
  font-size: 25px;
  color: white;
  }
#btn1 {
  float: left;
  margin-left: 10px;
  }
div.gallery {
  margin-top: 40px;
  margin-left: 45px;
  margin-bottom: 20px;
  border: 1px solid white;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

#variable {
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 15px;
}
