@import url('https://fonts.googleapis.com/css?family=Sofia');

body {
  background-image: url("../images/bg.gif");
  background-size: cover;
}

.logo {
  width:200px;
  height:200px;
}

header {
     padding: 10px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }

nav {
   display: flex;
  }
nav a {
    color: skyblue;
    text-decoration: none;
    padding: 10px;
    margin-right: 190px;
    text-align: center;
    font-size: 25px;
    font-style: bold;
  }

nav a:hover {
      background-color: #555;
    }

#h1 {
  color: white;
  text-align: center;
  font-family: "Sofia", sans-serif;	
  font-size: 60px;
  }
#myBtn {
  float: left;
  margin-left: 15px;
  }
div.gallery {
  margin: 55px;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

#h2 {
 color: white;
 font-size: 16px;
 text-align: center;
 }
 
#h3 {
	color: white;
	text-align: center;
	font-size: 15px;
}